{% extends 'base.html' %}

{% block title %} Recipe - {{view.kwargs.username}} {% endblock title %}
 
    {% block js %}
      <script>
      let previews=document.getElementsByClassName('preview');
      Array.from(previews).forEach((element)=>{
          element.innerHTML=element.innerText;
      });
      </script>
      {% endblock js %}

     
      
{% comment %} {% block blogactive %} active {% endblock blogactive %}  {% endcomment %}

<style>
    .container_main{
        width: 500px;
        /* background-color: blueviolet; */
    }
</style>
{% block body %}
<div class="container my-3 container_main">
    <h2>Recipes by {{view.kwargs.username}} ({{ page_obj.paginator.count }})</h2>
    {% for post in allPosts  %}
        <div class="row no-gutters border rounded align-items-center overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
            <div class="col-3 d-none d-lg-block p-3 align-self-center justify-content-center">
                <img src="{{post.pic.url}}" class="img-thumbnail rounded-circle" style="height:180px;width:180px;" alt="img - {{post.author.username}}">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Recipe  by {{post.author}} ({{post.views}})</strong>
                <h3 class="mb-0"><a class="text-dark"href="{% url 'recipe:recipePost' post.title %}">{{post.title}} </a> </h3>
                <div class="mb-1 text-muted">{{post.datetime}}</div>
                <p class="card-text mb-auto mt-3">{{post.content|safe |truncatechars:200}}</p>
                <div class="my-2">
                    <a href="{% url 'recipe:recipePost' post.title %}" role="button" class="btn btn-primary">Continue reading</a>
                </div>
                
            </div>
        </div>
    {% endfor %}
    <div class="mt-4">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}">Last</a>
            {% endif %}
        {% endif %}
    </div>
</div>
 {% endblock %}