{% extends 'base.html' %}

{% block title %} Reset password {% endblock title %}
 
{% comment %}       
{% block blogactive %} active {% endblock blogactive %} 
{% endcomment %}

{% load crispy_forms_tags %}
{% block body %}
<div class="container col-6 my-3 align-self-center border">
    <h2 style="margin-left:-2%;" class="m-2 text-dark">Reset Password</h2>
    <hr>
    <div>
        <form method="post">

            {% csrf_token %}
    
            <fieldset class="form-group">
                {{ form|crispy }}         
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type= "submit">Reset password</button>
            </div>

            {% comment %} <div class="border-top pt-3">
                <small class="text-muted">
                   Do Not Have An Account? <a class="ml-2" href="#">Sign Up</a>
                </small>
            </div> {% endcomment %}
        </form>
    </div>
</div>
{% endblock %}